<% trains.each do |train| %>
  <p><%= train[:arrival_time] %> - <%= train[:departure_time] %></p>
  <p><% train[:trains].each do |tr| %></p>
      <ul>
        <li><%= full_name(tr) %></li>
        <li><%= link_to 'купить', new_user_ticket_path(User.first, train: tr, arrival_station_id: params[:first_station_id], departure_station_id: params[:last_station_id]) %></li>
      </ul>
      <% end %>
<% end %>
