<p id="notice"><%= notice %></p>

<h1>Wagons</h1>
<%= link_to 'На главную', root_path %>

<table border="1">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Поезд</th>
      <th>Тип</th>
      <th>Верхние места</th>
      <th>Нижние места</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @wagons %>
  </tbody>
</table>

<br>

<%= link_to 'Новый вагон', new_wagon_path %>