<h1>Изменение поезда</h1>

<%= render 'form', train: @train %>

<p>
  <strong>Маршрут:</strong>
  <% if @train.route.present? %>
    <%= @train.route.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<%= link_to 'Просмотр', [:admin, @train] %> |
<%= link_to 'Назад', admin_trains_path %>
