<p id="notice"><%= notice %></p>

<h1>Поезда</h1>
<%= link_to 'На главную', root_path %>

<table border="1">
  <thead>
    <tr>
      <th>Номер</th>
      <th>Станции</th>
      <th>Вагоны</th>
      <th>Билеты</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @trains %>
  </tbody>
</table>

<br>

<%= link_to 'Новый поезд', new_admin_train_path %>