<h1>Изменение вагона</h1>

<%= render 'form', wagon: @wagon %>

<p>
  <strong>Поезд:</strong>
  <% if @wagon.train.present? %>
    <%= @wagon.train.number %>
  <% else %>
    Не указано
  <% end %>
</p>

<%= link_to 'Просмотр', admin_wagon_path(@wagon) %> |
<%= link_to 'Назад', admin_wagons_path %>
